[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sooorajjj
[access "refs/for/refs/*"]
	read = group user/sooorajjj
	push = group user/sooorajjj
	label-Code-Review = -2..+2 group user/sooorajjj
	label-Verified = -1..+1 group user/sooorajjj
	rebase = group user/sooorajjj
	removeReviewer = group user/sooorajjj
	submit = group user/sooorajjj
[access "refs/heads/*"]
	read = group user/sooorajjj
	create = group user/sooorajjj
	push = +force group user/sooorajjj
	pushMerge = group user/sooorajjj
[access "refs/tags/*"]
	push = +force group user/sooorajjj
	pushTag = group user/sooorajjj
	pushSignedTag = group user/sooorajjj
